.cliente-list {
    max-width: 700px;
    margin: 20px auto 0;
    padding: 0 20px;
}

.cliente-list article {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.cliente-list article p {
    font-size: 16px;
    color: #000;
    line-height: 24px;
}

.cliente-list article a, button {
    width: 48%;
    height: 42px;
    border-radius: 5px;
    border: 2px solid #da552f;
    background: none;
    margin-top: 10px;
    color: #da552f;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.cliente-list article a {
    margin-right: 15px;
}

.cliente-list article a:hover, button:hover {
    background: #da552f;
    color: #fff;
}

.cliente-list .actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.cliente-list .actions button {
    padding: 10px;
    border-radius: 5px;
    border: 0;
    background: #da552f;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.cliente-list .actions button:hover {
    opacity: 0.7;
}

.cliente-list .actions button[disabled] {
    opacity: 0.5;
    cursor: default;
}

.cliente-list .actions button[disabled]:hover {
    opacity: 0.5;
    cursor: default;
}

.principal {
    display: flex;
    justify-content: center;
    align-items: center;
}