.main-header {
    width: 100%;
    height: 60px;
    background: rgb(39, 38, 38);
    font-weight: bold;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.main-header .logo {
    margin-right: 8%;
    font-size: 32px;
    margin-left: 35px;
    padding: 30px;
    border: 1px solid black;
    color: rgb(39, 38, 38);
    background: #FFF;
    border-radius: 5px;
}

.main-header .logo img {
    margin-top: 5px;
    width: 100px;
}

.main-header a {
    text-decoration: none;   
    color: #FFF; 
    border-radius: 5px;   
    padding: 10px;
    margin-right: 35px;
    cursor: pointer;
    transition: all 0.3s;
}

.main-header a:hover {
    border: 1px solid black;
    color: rgb(39, 38, 38);
    background: #FFF; 
}