.form-info {
    max-width: 700px;
    margin: 20px auto 0;
    padding: 20px;
    background: #DCDCDC;
    border-radius: 5px;
    border: 2px solid black;
    color: black;
}

.form-info input{
    width: 96%;
    margin: 8px auto 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    color: black;
}

.form-info h1 {
    font-size: 32px
}

.form-info p {
    color: #666;
    line-height: 24px;
    margin-top: 5px;
}

.form-info  a {
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #da552f;
    background: #fff;
    color: #da552f;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s;
}

.form-info a:hover {
    background: #da552f;
    color: #fff;
}