body {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
}

.imgHome {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;

}